#modalWindow{
	position:fixed;
	font-family: arial,helvetica, sans-serif;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: pink;
	z-index: 99999;
	opacity:0;
	transition:opacity 400ms linear;
	pointer-events: none;
}
#modalWindow:target {
	opacity :1;
	pointer-events: auto;
}
#modalWindow > div {
	width:400px;
	height:240px;
	position:relative;
	margin:10% auto;
	padding: 20px 20px 13px 20px;
	border:solid black 2px;
	background-color:lightblue;
	border-radius:10px;

}