body{
    background-color: #1e1f26;
    color: black;
    margin:0;
}

header{
    background-color: #ffefd7;
    padding:20px;

}
input[type=text],input[type=password],input[type=file],input[type=email],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1e1f26;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text-area]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 1px solid #1e1f26;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    width: 100%;
    background-color: #ffefd7;
    color: #1e1f26;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit],input[type=button] {
    width: 100%;
    background-color: #ffefd7;
    color: #1e1f26;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1e1f26;
    color:#ffefd7;
  }
  input[type=button]:hover{
    background-color: #1e1f26;
    color:#ffefd7;


  }
  
.form-container {
    border-radius: 5px;
    margin:20px;
    padding:40px;
    background-color: #ffefd7 ;
    
  }
 