body{
    background-color: #caf0f8;
    color: black;
    margin:0;
}

header{
    background-color: #48cae4;
    padding:20px;

}
input[type=text],input[type=password],input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #caf0f8;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color:white;
  }
  
.form-container {
    border-radius: 5px;
    margin:20px;
    padding:40px;
    background-color: #48cae4 ;
    
  }