#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff 
  url('Assets/25.gif')
  no-repeat center;
  z-index: 99999;
}


.logo {
   
    height:100px;
    width:100px;
    -webkit-animation:spin 4s ease-in-out infinite;
    -moz-animation:spin 4s ease-in-out infinite;
    animation:spin 4s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  header{
      background-color: #ffefd7;
      padding:20px;
      border: solid black 2px;
  }
  .nav-bar{
      background-color: #ffefd7;
      border:solid black 2px; 
      padding:20px;
      display:flex;
      justify-content: space-around;
  }
  /* add media query for responsive nav-bar using a hamburger menu*/
  a{
      color:#1e1f26;
  }
  a:visted{
      color:#1e1f26;
  }
  a:hover{
      font-size: 1.25em;
  }
  .container-about-us, .container-work-seeker, .container-work-provider,.container-set-up{
    padding:40px;
    background-color: #ffefd7 ;
    margin:20px;
    border: solid black 2px;
    text-align: justify;
}
.slider-image{
    padding: 100px;
    text-align: center;
}
@keyframes bounce {
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(50%);
      border-radius:50%;
      background-color: #1e1f26;
      color:#ffefd7;
      
    }
 
    
  }
 
  .logo {
   
    height:100px;
    width:100px;
    -webkit-animation:spin 4s ease-in-out infinite;
    -moz-animation:spin 4s ease-in-out infinite;
    animation:spin 4s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  footer{
    padding:40px;
    background-color: #ffefd7 ;
    text-align: justify;

  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .trigger {
    display: none;
  }
  
  .slider, .slider-wrapper {
    position: relative;
    height: 250px;
  }
  
  .slide {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .slide-img {
    filter: brightness(100%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
  }
  
  .slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
  }
  
  .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
  }
  
  .slider-nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .slider-nav__item {
    display: inline-block;
  }
  
  .slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
  }
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: black;
  }

  /*responsive slider*/
  @media only screen and (min-width: 1024px) {
    .slider, .slider-wrapper {
      height: 480px;
    }
  
    .slide-caption {
      width: 65%;
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .slider, .slider-wrapper {
      height: 360px;
    }
  
    .slide-caption {
      width: 75%;
      font-size: 1.25rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    
    .slide-img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    .slider, .slider-wrapper {
      height: 150px;
      width: 200px;
      position: relative;
      left:-40px;
    }
    .img{
      height: 200px;
      width:200px;
    }
  
    .slide-img {
      width: 100%;
      height: auto;
     
    }
  }
  .video-sec{
    display: flex;
    flex-direction: row;
    
  }

  /*videos responsiveness*/
  @media only screen and (max-width: 768px) {
    iframe{
      height:200px;
      width:250px;
      padding:0px;
    }
  }
  iframe{
    padding:10px;
  }
  footer{
      border-top:2px solid black
  }

  #login-btn{
    border:solid black 2px;
    color:black;
    background-color:#ffefd7;
    padding:10px;

}
#login-btn:hover{
    background-color:black;
    color:#ffefd7;

}
#set-up-bus-but,#help-set-up-bus-but {
    background-color: #ffefd7 ;
    border: 2px solid black;
    padding:10px;
    
  }
  #set-up-bus-but:hover{
    animation-name: bounce;
			animation-duration: 1s;
			animation-iteration-count: infinite;
  }
  #help-set-up-bus-but:hover{
    animation-name: bounce;
			animation-duration: 1s;
			animation-iteration-count: infinite;
  }
  
