body{
    background-color: #1e1f26;
    color: black;
    margin:0;
}
header{
    background-color: #ffefd7;
    padding:20px;
    
}
.nav-bar{
  background-color: #ffefd7;
  color:#1e1f26;
    padding:20px;
    display:flex;
    justify-content: space-around;
}
/* add media query for responsive nav-bar using a hamburger menu*/
a{
    color:#1e1f26;
}
a:visted{
    color:#1e1f26;
}
a:hover{
    font-size: 1.25em;
}
.container-about-us, .container-work-seeker, .container-work-provider,.container-set-up{
    padding:40px;
    background-color: #ffefd7 ;
    margin:20px;
    border-radius: 5px;
    text-align: justify;
}
.slider-image{
    padding: 100px;
    text-align: center;
}
#login-work-seeker,#login-work-provider{
    text-align: left;
    padding:40px;
}
#login-btn{
    background-color: #ffefd7 ;
    border-radius: 5px;
    height: 25px;
    width: 150px;
}
#login-btn:hover{
  background-color: #1e1f26;
  color:#ffefd7;

}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 

  #set-up-bus-but,#help-set-up-bus-but {
    background-color: #ffefd7 ;
    border-radius: 5px;
    height: 100px;
    width:100px;
  }
  #set-up-bus-but:hover{
    animation-name: bounce;
			animation-duration: 2s;
			animation-iteration-count: 1;
  }
  #help-set-up-bus-but:hover{
    animation-name: bounce;
			animation-duration: 2s;
			animation-iteration-count: 1;
  }
  




  @keyframes bounce {
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(20%);
      border-radius:50%;
      background-color: #1e1f26;
      color:#ffefd7;
      
    }
    
    
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  footer{
    padding:40px;
    background-color: #ffefd7 ;
    text-align: justify;

  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .trigger {
    display: none;
  }
  
  .slider, .slider-wrapper {
    position: relative;
    height: 250px;
  }
  
  .slide {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .slide-img {
    filter: brightness(100%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
  }
  
  .slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
  }
  
  .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
  }
  
  .slider-nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .slider-nav__item {
    display: inline-block;
  }
  
  .slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
  }
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: black;
  }

  /*responsive slider*/
  @media only screen and (min-width: 1024px) {
    .slider, .slider-wrapper {
      height: 480px;
    }
  
    .slide-caption {
      width: 65%;
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .slider, .slider-wrapper {
      height: 360px;
    }
  
    .slide-caption {
      width: 75%;
      font-size: 1.25rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    
    .slide-img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    .slider, .slider-wrapper {
      height: 150px;
      width: 200px;
      position: relative;
      left:-40px;
    }
    .img{
      height: 200px;
      width:200px;
    }
  
    .slide-img {
      width: 100%;
      height: auto;
     
    }
  }